{% extends 'skeletons/customer.html' %}
{% block body_content %}

<div class="row">
    <div class="col m6 offset-m3 s12">
        <div class="card-panel">
            <div class="row">
                <div class="col m2 s4 offset-s4">
                    {% load static %}
                    <img src="{% static 'img/failed_payment.png'%}" alt="" class="responsive-img">
                </div>
                <div class="col m10 s12">
                    <h5 class="red-text">La transacción no se pudo procesar.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col m10 offset-m2 s12">
                    <span>Tu pago no se concretó debido a que cancelaste el pago o se produjo algún problema de validación con tu tarjeta. </span>
                    <br><br>
                    <a class="waves-effect waves-light btn" href="{% url 'index' %}"><i class="material-icons left">home</i>Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body_content %}

{% block javascript %}
<script>


</script>
{% endblock %}