<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'historical_booking' %}">Histórico de Reservas</a></li>
    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
</ul>
<nav class="nav-extended indigo darken-4">
    <div class="nav-wrapper container indigo darken-4">
        {% load static %}
        <a href="{% url 'index' %}" class="brand-logo">
            <img src="{% static 'img/logobooking.png' %}" class="hide-on-small-only" style="height: 64px !important;padding-left: 30px;" alt="">
                <img src="{% static 'img/logobooking.png' %}" class="show-on-small" style="height: 40px !important;margin-top:10px;padding-left: 30px;display:none;" alt="">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><i class="dropdown-trigger material-icons right" href="#!"
                      data-target="dropdown1">dialpad</i></a></li>
        </ul>
    </div>

</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'historical_booking' %}">Histórico de Reservas</a></li>
    <li><a href="{% url 'logout' %}">Cerrar sesión</a></a>
    </li>
</ul>

